/* reset */
body,
div,
pre,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
th,
td,
figure,
figcaption
{
    margin: 0;
    padding: 0;
}

input,
textarea
{
    font-size: 100%; 

    margin: 0;
}

label
{
    cursor: pointer;
}

table
{
    font-size: 100%; 

    border-spacing: 0;
    border-collapse: collapse;
}

th,
td
{
    list-style: none;
}

fieldset,
img
{
    border: 0;
}

img
{
    width: 100%;
    max-width: 100%;
    height: auto;

    vertical-align: top;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var
{
    font-weight: normal; 
    font-style: normal;
}

ol,
ul
{
    list-style: none;
}

caption,
th
{
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: 100%;
    font-weight: normal;
}

q:after,
q:before
{
    content: '';
}

a,
input
{
    color: inherit; 
    outline: none;
}

a
{
    text-decoration: none;
}

input,
textarea
{
    border-radius: 0;
}

input[type='button'],
input[type='submit']
{
    padding: 0;

    cursor: pointer; 

    border: none;
    background: none;

    -webkit-appearance: none;
}

abbr,
acronym
{
    border: 0;
}

i
{
    font-style: normal;
}

main,
section,
article,
time
{
    display: block;
}

/* /reset */
/* base */
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body
{
    font-family: 'Kite One', sans-serif;
    font-size: 0;
    line-height: 0;

    position: relative;

    letter-spacing: 0;
    word-wrap: break-word;

    color: #000; 

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
}

img
{
    width: 100%;
}

.sp
{
    display: none;
}
@media screen and (max-width: 425px)
{
    .sp
    {
        display: block !important;
    }
}

.tb
{
    display: none;
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    .tb
    {
        display: block !important;
    }
}

.pc
{
    display: none;
}
@media screen and (min-width: 1000px)
{
    .pc
    {
        display: block !important;
    }
}

.cf
{
    zoom: 1;
}
.cf:after
{
    display: block;
    clear: both; 

    content: '';
}

a
{
    display: block;
}

img
{
    pointer-events: none;
}

/* /base */
/* z-index */
header,
main,
footer
{
    z-index: 2;
}

#bg
{
    z-index: 1;
}

/* /z-index */
/* header */
header
{
    position: relative;

    display: table;

    width: 100%;
}
@media screen and (max-width: 425px)
{
    header
    {
        height: 100vh;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    header
    {
        height: 100vh;
    }
}
@media screen and (min-width: 1000px)
{
    header
    {
        height: 100vh; 
        min-height: 660px;
    }
}
header .h1_01
{
    display: table-cell;

    text-align: center; 
    vertical-align: middle;
}
@media screen and (max-width: 425px)
{
    header .h1_01
    {
        padding-bottom: 16%;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    header .h1_01
    {
        padding-bottom: 100px;
    }
}
@media screen and (min-width: 1000px)
{
    header .h1_01
    {
        padding-bottom: 140px;
    }
}
@media screen and (max-width: 425px)
{
    header .h1_01 img
    {
        width: 60%;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    header .h1_01 img
    {
        width: 320px;
    }
}

@media screen and (min-width: 1000px) and (max-height: 759px)
{
    header .h1_01 img
    {
        width: 260px;
    }
}

@media screen and (min-width: 1000px) and (min-height: 760px)
{
    header .h1_01 img
    {
        width: 383px;
    }
}
header .p_01
{
    position: absolute;
}
@media screen and (max-width: 425px)
{
    header .p_01
    {
        top: 0;
        right: 0;

        width: 14%; 
        margin-top: 8%;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    header .p_01
    {
        top: 36px;
        right: 36px;

        width: 92px;
    }
}
@media screen and (min-width: 1000px)
{
    header .p_01
    {
        top: 36px;
        right: 36px;
    }
}
@media screen and (min-width: 1000px) and (max-height: 759px)
{
    header .p_01
    {
        width: 92px;
    }
}
@media screen and (min-width: 1000px) and (min-height: 760px)
{
    header .p_01
    {
        width: 110px;
    }
}
header .time_01
{
    position: absolute;
    left: 0;

    display: block;

    width: 100%;

    text-align: center;
}
@media screen and (max-width: 425px)
{
    header .time_01
    {
        bottom: 14%;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    header .time_01
    {
        bottom: 18px;
    }
}
@media screen and (min-width: 1000px)
{
    header .time_01
    {
        bottom: 18px;

        margin: 0 auto;
    }
}
@media screen and (min-width: 1000px) and (max-height: 759px)
{
    header .time_01 img
    {
        width: 800px;
    }
}
@media screen and (min-width: 1000px) and (min-height: 760px)
{
    header .time_01 img
    {
        width: 1000px;
    }
}

/* /header */
/* main */
main
{
    position: relative;
}

/* /main */
/* main_content */
#index .mc
{
    position: relative;

    background-color: #fff;
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #index .mc
    {
        width: 425px; 
        margin: 0 auto 80px;
    }
}
#index .mc .h2_01
{
    font-weight: bold;
    line-height: 1;

    text-align: center; 
    letter-spacing: .04em;

    color: #314ffb;
}
@media screen and (max-width: 425px)
{
    #index .mc .h2_01
    {
        font-size: 6.5625vw; 

        padding: 2em 0;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #index .mc .h2_01
    {
        font-size: 36px; 

        padding: 2em 0;
    }
}
@media screen and (min-width: 1000px)
{
    #index .mc .h2_01
    {
        font-size: 36px; 

        padding: 14px 0;
    }
}
#index .mc .p_01
{
    font-weight: normal;
    line-height: 1.7;

    width: 100%;

    text-align: center;
    letter-spacing: .04em;
}
@media screen and (max-width: 425px)
{
    #index .mc .p_01
    {
        font-size: 3.28125vw;

        padding: 2em 0;

        color: #314ffb; 
        background-color: #fff;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #index .mc .p_01
    {
        font-size: 12px;

        padding: 2em 0;

        color: #314ffb; 
        background-color: #fff;
    }
}
@media screen and (min-width: 1000px)
{
    #index .mc .p_01
    {
        font-size: 12px;

        position: absolute;
        z-index: 2;
        left: 0;

        color: #fff;
    }
}
@media screen and (min-width: 1000px) and (max-height: 759px)
{
    #index .mc .p_01
    {
        top: 318px;
    }
}
@media screen and (min-width: 1000px) and (min-height: 760px)
{
    #index .mc .p_01
    {
        top: 450px;
    }
}
#index .mc .p_01 i
{
    display: block;
}
@media screen and (max-width: 425px)
{
    #index .mc .p_01 i
    {
        margin-top: .4em;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #index .mc .p_01 i
    {
        margin-top: .4em;
    }
}
#index .mc .bx-wrapper
{
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 1000px) and (max-height: 759px)
{
    #index .mc .bx-wrapper,
    #index .mc .bx-viewport,
    #index .mc .mc_slider ul
    {
        height: 560px;
    }
}

@media screen and (min-width: 1000px) and (min-height: 760px)
{
    #index .mc .bx-wrapper,
    #index .mc .bx-viewport,
    #index .mc .mc_slider ul
    {
        height: 700px;
    }
}
#index .mc .bx-wrapper li,
#index .mc .bx-viewport li,
#index .mc .mc_slider ul li
{
    height: 100%;

    background-size: cover !important;
}
#index .mc .bx-wrapper li:nth-child(1),
#index .mc .bx-viewport li:nth-child(1),
#index .mc .mc_slider ul li:nth-child(1)
{
    background: url(../images/mc_figure_01.jpg) no-repeat center center;
}
#index .mc .bx-wrapper li:nth-child(2),
#index .mc .bx-viewport li:nth-child(2),
#index .mc .mc_slider ul li:nth-child(2)
{
    background: url(../images/mc_figure_02.jpg) no-repeat center center;
}
#index .mc .bx-wrapper li:nth-child(3),
#index .mc .bx-viewport li:nth-child(3),
#index .mc .mc_slider ul li:nth-child(3)
{
    background: url(../images/mc_figure_03.jpg) no-repeat center center;
}
#index .mc .bx-wrapper li:nth-child(4),
#index .mc .bx-viewport li:nth-child(4),
#index .mc .mc_slider ul li:nth-child(4)
{
    background: url(../images/mc_figure_04.jpg) no-repeat center center;
}
#index .mc .bx-wrapper li:nth-child(5),
#index .mc .bx-viewport li:nth-child(5),
#index .mc .mc_slider ul li:nth-child(5)
{
    background: url(../images/mc_figure_05.jpg) no-repeat center center;
}
#index .mc .bx-wrapper li:nth-child(6),
#index .mc .bx-viewport li:nth-child(6),
#index .mc .mc_slider ul li:nth-child(6)
{
    background: url(../images/mc_figure_06.jpg) no-repeat center center;
}
#index .mc .bx-wrapper li .l_block_01,
#index .mc .bx-viewport li .l_block_01,
#index .mc .mc_slider ul li .l_block_01
{
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 40px 0;

    text-align: center; 

    background: rgba(0, 0, 0, .6);
}
#index .mc .bx-wrapper li .l_block_01 .l_box_01,
#index .mc .bx-viewport li .l_block_01 .l_box_01,
#index .mc .mc_slider ul li .l_block_01 .l_box_01
{
    display: inline-block;

    width: 300px;

    text-align: left; 
    vertical-align: top;
}
#index .mc .bx-wrapper li .l_block_01 .l_box_01 h3,
#index .mc .bx-viewport li .l_block_01 .l_box_01 h3,
#index .mc .mc_slider ul li .l_block_01 .l_box_01 h3
{
    font-size: 20px;
    font-weight: bold;
    line-height: 1;

    color: #fff;
}
#index .mc .bx-wrapper li .l_block_01 .l_box_01 h3 i,
#index .mc .bx-viewport li .l_block_01 .l_box_01 h3 i,
#index .mc .mc_slider ul li .l_block_01 .l_box_01 h3 i
{
    font-size: 16px;
    font-weight: normal; 

    display: block;

    margin-top: .6em;
}
#index .mc .bx-wrapper li .l_block_01 .l_box_01 time,
#index .mc .bx-viewport li .l_block_01 .l_box_01 time,
#index .mc .mc_slider ul li .l_block_01 .l_box_01 time
{
    font-size: 14px;
    line-height: 1;

    margin-top: .7em;

    color: #fff;
}
#index .mc .bx-wrapper li .l_block_01 .l_box_02,
#index .mc .bx-viewport li .l_block_01 .l_box_02,
#index .mc .mc_slider ul li .l_block_01 .l_box_02
{
    display: inline-block;

    width: 500px;

    text-align: left; 
    vertical-align: top;
}
#index .mc .bx-wrapper li .l_block_01 .l_box_02 p,
#index .mc .bx-viewport li .l_block_01 .l_box_02 p,
#index .mc .mc_slider ul li .l_block_01 .l_box_02 p
{
    font-size: 12px;
    line-height: 2;

    color: #fff;
}
#index .mc .bx-wrapper li .l_block_01 .l_box_02 p:nth-child(2),
#index .mc .bx-viewport li .l_block_01 .l_box_02 p:nth-child(2),
#index .mc .mc_slider ul li .l_block_01 .l_box_02 p:nth-child(2)
{
    margin-top: .4em;
}
#index .mc .mc_pager
{
    position: absolute;
    z-index: 2;
    left: 0;

    width: 100%;

    text-align: center;
}

@media screen and (min-width: 1000px) and (max-height: 759px)
{
    #index .mc .mc_pager
    {
        top: 100px;
    }
}

@media screen and (min-width: 1000px) and (min-height: 760px)
{
    #index .mc .mc_pager
    {
        top: 190px;
    }
}
#index .mc .mc_pager li
{
    display: inline-block;

    margin: 0 20px;
}
#index .mc .mc_pager li a
{
    cursor: pointer; 
    -webkit-transition: ease .24s all;
            transition: ease .24s all;

    opacity: .6;
}
#index .mc .mc_pager li a:hover,
#index .mc .mc_pager li a.active
{
    opacity: 1;
}
#index .mc .mc_accordion li:nth-child(n+2)
{
    margin-top: 2px;
}
#index .mc .mc_accordion li h3
{
    position: relative;
}
#index .mc .mc_accordion li h3:after
{
    position: absolute;
    right: 9%;
    bottom: 30px;

    display: block;

    width: 20px;
    height: 20px;

    content: '';
    -webkit-transform: rotate(-225deg);
        -ms-transform: rotate(-225deg);
            transform: rotate(-225deg); 

    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}
#index .mc .mc_accordion li h3.active:after
{
    bottom: 20px;

    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
#index .mc .mc_accordion li .l_box_01
{
    display: none;

    width: 100%;
    padding: 9%;

    color: #314ffb;
}
#index .mc .mc_accordion li .l_box_01 .h4_01
{
    font-size: 16px;
    font-weight: bold;
    line-height: 1; 

    text-align: right;
}
#index .mc .mc_accordion li .l_box_01 .h4_01 i
{
    font-size: 14px;
    font-weight: normal;

    display: block; 

    margin-top: .4em;
}
#index .mc .mc_accordion li .l_box_01 .time_01
{
    font-size: 14px;
    line-height: 1; 

    display: block;

    margin-top: .4em;

    text-align: right;
}
#index .mc .mc_accordion li .l_box_01 .p_02,
#index .mc .mc_accordion li .l_box_01 .p_03
{
    font-size: 14px;
    line-height: 1.7;

    margin-top: 3em;

    text-align: left;

    color: #314ffb;
}
#index .mc .mc_accordion li .l_box_01 .p_03
{
    margin-top: 1em;
}

/* /main_content */
/* bg */
#bg
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
}
#bg .ul_01 li
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-repeat: no-repeat !important; 
    background-size: cover !important;
}
@media screen and (max-width: 425px)
{
    #bg .ul_01 li.bg_img_01
    {
        background: url(../images/bg_img_01_sp.jpg) no-repeat center center;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #bg .ul_01 li.bg_img_01
    {
        background: url(../images/bg_img_01.jpg) no-repeat center center;
    }
}
@media screen and (min-width: 1000px)
{
    #bg .ul_01 li.bg_img_01
    {
        background: url(../images/bg_img_01.jpg) no-repeat center center;
    }
}
@media screen and (max-width: 425px)
{
    #bg .ul_01 li.bg_img_02
    {
        background: url(../images/bg_img_02_sp.jpg) no-repeat center center;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #bg .ul_01 li.bg_img_02
    {
        background: url(../images/bg_img_02.jpg) no-repeat center center;
    }
}
@media screen and (min-width: 1000px)
{
    #bg .ul_01 li.bg_img_02
    {
        background: url(../images/bg_img_02.jpg) no-repeat center center;
    }
}
@media screen and (max-width: 425px)
{
    #bg .ul_01 li.bg_img_03
    {
        background: url(../images/bg_img_03_sp.jpg) no-repeat center center;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #bg .ul_01 li.bg_img_03
    {
        background: url(../images/bg_img_03.jpg) no-repeat center center;
    }
}
@media screen and (min-width: 1000px)
{
    #bg .ul_01 li.bg_img_03
    {
        background: url(../images/bg_img_03.jpg) no-repeat center center;
    }
}

/* /bg */
/* footer */
footer
{
    position: relative;
}
footer .l_block_01
{
    padding: 18px 0;

    background-color: #314ffb;
}
footer .l_block_01 .l_block_01_inner
{
    position: relative;

    margin: 0 auto;
}
@media screen and (max-width: 425px)
{
    footer .l_block_01 .l_block_01_inner
    {
        width: 100%; 
        padding: 0 4.5%;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    footer .l_block_01 .l_block_01_inner
    {
        width: 100%; 
        padding: 0 9%;
    }
}
@media screen and (min-width: 1000px)
{
    footer .l_block_01 .l_block_01_inner
    {
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
        width: 800px; 
        padding: 0 100px;
    }
}
footer .l_block_01 .l_block_01_inner .h4_01
{
    display: inline-block;

    vertical-align: middle;

    color: #fff;
}
@media screen and (max-width: 425px)
{
    footer .l_block_01 .l_block_01_inner .h4_01
    {
        font-size: 3.75vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    footer .l_block_01 .l_block_01_inner .h4_01
    {
        font-size: 14px;
    }
}
@media screen and (min-width: 1000px)
{
    footer .l_block_01 .l_block_01_inner .h4_01
    {
        font-size: 14px;
    }
}
footer .l_block_01 .l_block_01_inner .ul_01
{
    display: inline-block;

    width: 40%; 

    vertical-align: middle;
}
footer .l_block_01 .l_block_01_inner .ul_01 li
{
    display: inline-block;

    width: 21px;
    margin-left: 24px; 

    vertical-align: middle;
}
footer .l_block_01 .l_block_01_inner .div_01
{
    position: absolute;
    top: 6px;
    right: 104px;
}
@media screen and (max-width: 425px)
{
    footer .l_block_01 .l_block_01_inner .div_01
    {
        right: 4.5%;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    footer .l_block_01 .l_block_01_inner .div_01
    {
        right: 9%;
    }
}
@media screen and (min-width: 1000px)
{
    footer .l_block_01 .l_block_01_inner .div_01
    {
        right: 104px;
    }
}
footer .l_block_01 .l_block_01_inner .div_01 a
{
    width: 20px;
    height: 20px;

    -webkit-transition: all .24s ease;
            transition: all .24s ease; 
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);

    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}
@media screen and (min-width: 1000px)
{
    footer .l_block_01 .l_block_01_inner .div_01 a:hover
    {
        -webkit-transform: rotate(-45deg) translate(2px, -2px);
            -ms-transform: rotate(-45deg) translate(2px, -2px);
                transform: rotate(-45deg) translate(2px, -2px);
    }
}
footer .l_block_02
{
    background-color: #fff;
}
footer .l_block_02 .l_block_02_inner
{
    margin: 0 auto;

    text-align: center;
}
@media screen and (max-width: 425px)
{
    footer .l_block_02 .l_block_02_inner
    {
        width: 100%;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    footer .l_block_02 .l_block_02_inner
    {
        width: 100%;
    }
}
@media screen and (min-width: 1000px)
{
    footer .l_block_02 .l_block_02_inner
    {
        width: 800px; 
        padding: 10px 0 26px;
    }
}
@media screen and (max-width: 425px)
{
    footer .l_block_02 .l_block_02_inner .ul_02
    {
        padding: 6% 9%;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    footer .l_block_02 .l_block_02_inner .ul_02
    {
        padding: 30px 4.5%;
    }
}
@media screen and (min-width: 1000px)
{
    footer .l_block_02 .l_block_02_inner .ul_02
    {
        display: inline-block;

        vertical-align: middle;
    }
}
footer .l_block_02 .l_block_02_inner .ul_02 li
{
    display: inline-block;

    vertical-align: middle;
}
@media screen and (max-width: 425px)
{
    footer .l_block_02 .l_block_02_inner .ul_02 li
    {
        width: 33%;
        height: 35px;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    footer .l_block_02 .l_block_02_inner .ul_02 li
    {
        width: 20%;
        height: 41px;
    }
}
@media screen and (min-width: 1000px)
{
    footer .l_block_02 .l_block_02_inner .ul_02 li
    {
        height: 41px;
    }
    footer .l_block_02 .l_block_02_inner .ul_02 li:nth-child(n+2)
    {
        margin-left: 20px;
    }
}
footer .l_block_02 .l_block_02_inner .ul_02 li img
{
    width: auto;
    height: 100%;
}
footer .l_block_02 .l_block_02_inner .p_01
{
    line-height: 1.4; 

    display: inline-block;

    margin-left: 10px;

    vertical-align: middle;
}
@media screen and (max-width: 425px)
{
    footer .l_block_02 .l_block_02_inner .p_01
    {
        font-size: 2.5vw;

        text-align: center;

        color: #656565;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    footer .l_block_02 .l_block_02_inner .p_01
    {
        font-size: 9px;

        text-align: center;

        color: #656565;
    }
}
@media screen and (min-width: 1000px)
{
    footer .l_block_02 .l_block_02_inner .p_01
    {
        font-size: 9px; 

        text-align: left;
    }
}
footer .p_02
{
    line-height: 1; 

    text-align: center;
}
@media screen and (max-width: 425px)
{
    footer .p_02
    {
        font-size: 2.5vw; 

        padding: 4.8% 0 2.4%;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    footer .p_02
    {
        font-size: 10px; 

        margin-top: 10px;
        padding: 24px 0 12px;
    }
}
@media screen and (min-width: 1000px)
{
    footer .p_02
    {
        font-size: 10px;

        margin-top: 10px;

        letter-spacing: .08em;
    }
}

/* /footer */
#bg
{
    -webkit-transition: all 1.2s ease;
            transition: all 1.2s ease;

    background-color: #000;
}
@media screen and (max-width: 425px)
{
    #bg
    {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #bg
    {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
    }
}
@media screen and (min-width: 1000px)
{
    #bg
    {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1);
    }
}
#bg .bx-wrapper,
#bg .bx-viewport,
#bg .ul_01
{
    width: 100%;
    height: 100vh !important;
}
#bg.blur
{
    filter: blur(20px);
}
#bg.blur > *
{
    opacity: .8;
}
